<div class='row m-5'>

    <div class='col'>
        <h1>*NgIf</h1>
        <hr />
        <div *ngIf="mostrar" class="card text-white bg-danger mb-3" style="width:100%">
            <div class="card-body">
                <h5 class="card-title">{{frase.autor}}</h5>
                <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div>
        <button (click)="mostrar= !mostrar" class='btn btn-primary btn-block'>Click</button>
    </div>

    <div class='col'>
        <h1>*NgFor</h1>
        <hr />
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">
                {{i}} {{personaje}}</li>
        </ul>
    </div>

</div>